/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--page-font-femily-inter), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight, 400);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  padding-block-start: 100px;
  color: var(--text-color);
}

.list__card {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  inline-size: 100%;
  padding-block-end: 19px;
  padding-block-start: 120px;
  margin-block-end: 100px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

.header__teg-title {
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  font-family: var(--page-font-family-PressStart2P), serif;
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  line-height: 49px;
}

.header__title {
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  font-family: var(--page-font-family-PressStart2P), serif;
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  line-height: 14px;
  padding-block-end: 4px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  font-family: var(--page-font-family-PressStart2P);
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-inline-start: 22px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  position: relative;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--border-color);
  transition: width 0.3s ease;
}

.theme-menu__button:not(:focus-visible::after) {
  transform: scale(0);
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  transform: scale(1);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 53px;
  padding-block-end: 100px;
}

.list__card-item {
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
}

.article__title {
  font-family: var(--page-font-family-inter), sans-serif;
  font-size: var(--main-font-size);
  line-height: 21.78px;
  padding: 4px 10px 6px 10px;
  font-variation-settings: "wght" var(--titles-font-weight);
}

.image__wrapper {
  position: relative;
  border-block-start: 2px solid var(--border-color);
  border-block-end: 2px solid var(--border-color);
  min-block-size: 375px;
}

@supports (
  (text-stroke: 1px var(--label-text-shadow)) or
    (-webkit-text-stroke: 1px var(--label-text-shadow))
) {
  .image__label {
    -webkit-text-stroke: 1px var(--label-text-shadow);
    text-stroke: 1px var(--label-text-shadow);
    text-shadow: none;
  }
}

.image__label {
  position: absolute;
  inset-inline-end: 13px;
  inset-block-start: 24px;
  font-family: var(--page-font-family-PressStart2P);
  font-size: var(--label-font-size);
  font-weight: var(--main-font-weight);
  line-height: 14px;
  mix-blend-mode: hard-light;
  color: var(--label-color);
  -webkit-text-stroke: 1px var(--label-text-shadow);
  opacity: 50%;
  text-shadow: 0 0 1px var(--page-background-color, #ffffff);
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.article__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 26px;
}

.article__text {
  font-family: var(--page-font-family-inter);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  color: var(--text-color);
  line-height: 21px;
  text-align: left;
}

.align__padding__small-screen {
  padding-inline-end: 5px;
}

.align__padding__large-screen {
  padding-inline-end: 0;
}

.card__button-wrapper {
  display: flex;
  justify-content: end;
  padding-inline-end: 25px;
  padding-block-end: 21px;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  max-block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-color);
  transition: border 0.3s ease;
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
  max-block-size: 38px;
  min-inline-size: 130px;
  max-inline-size: 130px;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--border-color);
}

.sparks {
  opacity: 0;
}

.footer__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-inline-size: 306px;
  min-block-size: 80px;
  margin: 0 auto;
  transition: box-shadow 0.3s ease;
}

.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  box-shadow: 2px 2px 0 var(--border-color);
}

.footer__button-icon {
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.button__text {
  font-family: var(--page-font-family-PressStart2P);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 12.6px;
  color: var(--button-text-color);
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  padding: 0;
}

.button {
  border: 2px solid var(--border-color);
  background-color: var(--background-button);
  position: relative;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--border-color);
  transition: 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

dialog::backdrop {
  background-color: #000000;
  opacity: 75%;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  background-color: var(--dialog-back-color);
  gap: 30px;
  min-width: 341px;
  padding: 32px 42px;
  border: 2px solid var(--border-color);
}

.modal__descroption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__title {
  font-family: var(--page-font-family-PressStart2P);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 21px;
  max-width: 198px;
  text-transform: uppercase;
  color: var(--text-color);
}

.modal__text {
  text-transform: uppercase;
}

.modal__icon {
  color: var(--text-color);
}

.dialog-button {
  padding-block-start: 9px;
  padding-block-end: 9px;
}

.dialog-button:focus {
  outline: none;
}

.dialog-button:focus-visible {
  box-shadow: 2px 2px 0 var(--border-color);
}

.brightness {
  filter: brightness(200%);
}

.contrast {
  filter: contrast(20%);
}

.blur {
  filter: blur(0.2rem);
}

.opacity {
  filter: opacity(0.8);
}

.grayscale {
  filter: grayscale(0.8);
}

.saturate {
  filter: saturate(158%);
}

.contrast-blur {
  filter: contrast(20%) blur(0.2rem);
}

@media (width >= 376px) {
  .container {
    margin: 0 auto;
    max-inline-size: 700px;
  }

  .page {
    padding-block-start: 100px;
  }

  .header {
    padding-block-start: 147px;
    margin-block-end: 100px;
    gap: 25px;
  }

  .header__wrapper {
    gap: 28px;
  }

  .image__label {
    inset-inline-end: 25px;
    inset-block-start: 26px;
  }

  .footer__button {
    flex-direction: row;
    min-inline-size: 337px;
    min-height: 55px;
  }

  .footer__button-icon {
    block-size: 21px;
    inline-size: 21px;
  }

  dialog[open] {
    min-inline-size: 357px;
    padding: 32px 32px;
  }

  .modal__descroption {
    justify-content: flex-start;
    gap: 20px;
  }
}
